    <div class="box-content">
    
        <div class="box grid_6 alpha purchase_height" id="dashboard_left"> 

            <%#= render 'purchases' unless @purchases.nil? %>
                            
        </div> 
     
        <div class="box grid_6 omega purchase_height" id="dashboard_right"> 
    
            <%#= render 'purchase' unless @purchase.nil? %>                         
     
        </div> 
    
    </div>