<div id="new_rule" class="box rule_modal">
    <div class="box-header">
        <span class="icon32 new fl"></span>
        <h1>new rule</h1>
    </div>
  
    <div class="box-content">
        <div class="rule header">
            Always
            <span class="action"></span>
            <span class="property"></span>
            <span class="value"></span>
        </div>
        <div class="rule name">
            <span class="name"></span>
        </div>
        <div class="rule actions">
            <% if @payer.registered? %>
                <p>Paykido will automatically <span class="action"></span> purchases attempted by <span class="name"></span> whose <span class="property"></span> is <span class="value"></span>.</p>
                <p>Click <strong>YES</strong> to activate rule.</p>
            <% else %>
                <p>Paykido will automatically <span class="action"></span> purchases whose <span class="property"></span> is <span class="value"></span></p>
                <p>Note: You need to <strong>SIGN-UP</strong> if you want to use Paykido Rules</p>
            <% end %>
        </div>
        <div class="action_bar">
            <% if @payer.registered? %> 
                <a id="create_rule" href='#' class= "blue button">Yes</a>
                <a href="#" class="close button">No</a>
            <% else %>
                <a href='control/signup' class= "blue button">Sign-up</a>
                <a href="#" class="close button">close</a>
            <% end %>
        </div>
    </div>
    
</div>
