<!-- Primary navigation -->
<nav id="primary">
  <ul>
    <li class="active">
      <a href="#">
        <span class="icon32 dashboard"></span>
        Dashboard
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon32 shuffle"></span>
        Rules
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon32 pencil"></span>
        Communication
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon32 listicon"></span>
        Tables
      </a>
    </li>
    <li>
      <a href="#">
        <span class="icon32 chart"></span>
        Charts
      </a>
    </li>
    <li class="bottom">
     <% link_to('Logout', destroy_user_session_path, :method=>'delete') do %>
        <span class="icon32 quit"></span>
     <% end %>
    </li>
  </ul>
</nav>
<%#= link_to('Log out', destroy_user_session_path, :method=>'delete') %>
<!-- Secondary navigation -->
<nav id="secondary">

    <ul>
        <li class="active">
            <a href="">Family</a>
        </li>
        <li>
            <a href="">Dror</a>
         </li>
        <li class="">
            <a href="">Tali</a>
        </li>
        <li class="">
            <a href="">Erez</a>
        </li>
        <li class="">
            <a href="">Yuval</a>
        </li>
    </ul>
  
  <div id="notifications">
    <ul>
    </ul>
  </div>
</nav>

<section id="maincontainer">
  <div id="main" class="container_12">
  
    <!-- Main Area Here -->
    <%#= render 'dashboard' %>
  
  </div>
</section>