<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="width=1024px, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    
    <title>Spina</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/spina/css/reset.css" />
    <link rel="stylesheet" href="/spina/css/icons.css" />
    <link rel="stylesheet" href="/spina/css/formalize.css" />
    <link rel="stylesheet" href="/spina/css/checkboxes.css" />
    <link rel="stylesheet" href="/spina/css/sourcerer.css" />
    <link rel="stylesheet" href="/spina/css/jqueryui.css" />
    <link rel="stylesheet" href="/spina/css/tipsy.css" />
    <link rel="stylesheet" href="/spina/css/calendar.css" />
    <link rel="stylesheet" href="/spina/css/tags.css" />
    <link rel="stylesheet" href="/spina/css/selectboxes.css" />
    <link rel="stylesheet" href="/spina/css/960.css" />
    <link rel="stylesheet" href="/spina/css/jquery.popover.css" />
    <link rel="stylesheet" href="/spina/css/main.css" />
    <link rel="stylesheet" href="/stylesheets/control.css" />
    <link rel="stylesheet" href="/stylesheets/payer.css" />
    <link rel="stylesheet" media="all and (orientation:portrait)" href="/spina/css/portrait.css" />
    <link rel="apple-touch-icon" href="apple-touch-icon-precomposed.png" />
    <link rel="stylesheet" type="text/css" href="/highslide/highslide.css" />
    <!--[if lt IE 7]>
    <link rel="stylesheet" type="text/css" href="/highslide/highslide-ie6.css" />
    <![endif]-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    
    <!--[if lt IE 9]>
    <script src="/spina/js/html5shiv.js"></script>
    <script src="/spina/js/excanvas.js"></script>
    <![endif]-->
    
    <!-- JavaScript -->
 <!--   <script src="/spina/js/jquery.min.js"></script>  -->
        <script src="/spina/js/jquery-1.7.1.js"></script>
    <script src="/spina/js/jqueryui.min.js"></script>
    <script src="/spina/js/jquery.cookies.js"></script>
    <script src="/spina/js/jquery.pjax.js"></script>
    <script src="/spina/js/formalize.min.js"></script>
    <script src="/spina/js/jquery.metadata.js"></script>
    <script src="/spina/js/jquery.validate.js"></script>
    <script src="/spina/js/jquery.checkboxes.js"></script>
    <script src="/spina/js/jquery.chosen.js"></script>
    <script src="/spina/js/jquery.fileinput.js"></script>
    <script src="/spina/js/jquery.datatables.js"></script>
    <script src="/spina/js/jquery.sourcerer.js"></script>
    <script src="/spina/js/jquery.tipsy.js"></script>
    <script src="/spina/js/jquery.calendar.js"></script>
    <script src="/spina/js/jquery.inputtags.min.js"></script>
    <script src="/spina/js/jquery.wymeditor.js"></script>
    <script src="/spina/js/jquery.livequery.js"></script>
    <script src="/spina/js/jquery.flot.min.js"></script>
    <script src="/spina/js/jquery.popover.js"></script> 
    <script type="text/javascript" src="/highslide/highslide-full.js"></script>
    <script type="text/javascript" src="/highslide/highslide.config.js" charset="utf-8"></script>
    <script src="/spina/js/application.js"></script>
    <script src="/javascripts/application.js"></script>
  </head>
  
  <body>

    <!-- Primary navigation -->
    <nav id="primary">
      <ul>
        <li class="active">
          <a href="#">
            <span class="icon32 dashboard"></span>
            Dashboard
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon32 shuffle"></span>
            Rules
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon32 pencil"></span>
            Communication
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon32 listicon"></span>
            Tables
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon32 chart"></span>
            Charts
          </a>
        </li>
        <li class="bottom">
          <a href="#">
            <span class="icon32 quit"></span>
            Log out
          </a>
        </li>
      </ul>
    </nav>
    
    <!-- Secondary navigation -->
    <nav id="secondary">

        <ul>
            <li class="active">
                <a href="../control/hi" class="clearfix">Family</a>
            </li>
            <li>
                <a href="../control/interactivetables">
                    Dror
                </a>
             </li>
            <li class="">
                <a href="">
                    Tali
                </a>
            </li>
            <li class="">
                <a href="">
                    Erez
                </a>
            </li>
            <li class="">
                <a href="">
                    Yuval
                </a>
            </li>
        </ul>
      
      <div id="notifications">
        <ul>
        </ul>
      </div>
    </nav>
    
    <section id="maincontainer">
      <div id="main" class="container_12">
      
        <!-- Main Area Here -->
        <%= render 'dashboard' %>
      
      </div>
    </section>
  </body>
</html>