.fl {
    float: left;
}

.purchase_line .actions a.regular {
    visibility: hidden;
}

.purchase_line:hover .actions a.regular {
    visibility: visible;
}

.purchase_line .actions a.blue {
    visibility: visible;
}


.actions {
    width: 12em;
}

.actions #whitelist {
    float: right;
}

.actions #blacklist {
    margin-left: 1.5em;
}
.rule.name {
    color: #4C82B3;
}

.icon32 {

    width: 32px;
    height: 32px;
    margin-left: 1em;
    margin-top: 4px;
}

#new_rule h1 {
    font-size: 18px;
}

.purchase_info td {
    padding: 0 0;
}

body {
    font-family: 'ubuntu', sans-serif;

}
.shadow {
    text-shadow: 0 1px 0 #FFFFFF
}

body#paykido .tooltip {
    text-shadow: none;
}

.help {
    background-image: url(/spina/img/icons/question_32_16.png);
    padding-left: 1.5em;
    margin-left: 1em;
    vertical-align: text-bottom;
}

.whitelist {
    background-image: url(/spina/img/icons/tick_32_16.png);

}
.blacklist {
    background-image: url(/spina/img/icons/delete_32_16.png);
}

.blue .whitelist, .blue .blacklist {
    background-position: 100%;
}


.help.fr {
    height: 1.4em;
}

.approval_rate {
    color: #888;
}

.approval_text {
    font-size: 18px;
}
.approval_percent {
    font-weight: bold;
    font-size: 20px;
}

.like {
    background: url('/images/Thumbs-up-icon.png'), no-repeat;
    background-repeat: no-repeat;
    padding-left: 2em;
    vertical-align: top;
}

.retailer_info {
    margin-top: 1em;
}

.retailer_info .small.button {
    float: right;
    padding-left: 0.5em;
    vertical-align: top;
}

.star_rating {
    background-image: url('/images/star_rating.png');
    background-repeat: no-repeat;
    padding-left: 6em;
    vertical-align: top;
}

#purchases td {
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 15px;
} 

.retailer.whitelist.fr {
    padding-top: 23px;
}

.retailer_logo img {
    margin-top: 2%;
}

.purchase_logo {
    font-size: 20px;
    text-align: center;
    color: #4C82B3;
    color: #A3D643;
    color: #4678A6;
/*    color: #5186B4; */
}

.purchase_logo img{
    height: 35px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.rule.property .whitelist {
    margin-left: 1em;
}

.action_bar.actions {
    background: none;
    display: inline;
    float: right;
    margin-right: 6%;
    padding: 0;
    margin-top: 0;
}

.rule {
 
}
.rule.actions {
    margin-top: 16px; 
    font-size: 13px;
    width: 100%;      
}

.rule.name {
    margin-top: 45px;
    font-size: 2em;   
}

.property_name {
    font-size: 22px;
    position: relative;
    top: -3px;
}

.rule.header {
    font-size: 2em;
    font-weight: bold;
 
}

#new_rule {
    width: 80%;
    margin-left: 20%;
}

#new_rule .box-content {

}

tr:hover {
 
}

.approval_buttons p a {
    visibility: hidden;
}

tr:hover .approval_buttons p a{
    visibility: visible;
}

.popover > section > .content > nav > ul > li {
    text-align: center;
}

.retailer_name {
    
}
.purchase_line input[type="checkbox"] {
    margin-left: 20%;
}

.sectiontitle {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    color: #999;
    margin-bottom: -12px;
}

.purchase_value {
    margin-left: 5%;
    font-size: 20px;
    color: #477DAE;
    font-stretch:
}

.purchase_title {
    text-transform: uppercase;
    font-size: 16px;
/*    font-weight: bold; */
}

.purchase_line {
    height: 50px;
}

.purchase_info {
    margin-top: 5%;    
}

.purchase_info tr {
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #FFFFFF;
    
}
.purchase_info tbody tr:nth-child(2n+1) td {
    background: none;
    border-bottom: 1px solid #DFDFDF;
    border-top: 1px solid #FFFFFF;

}

.header {
    
}

.approval_buttons {
    margin-right: 0px;
}

.actionButton {
    width: 4em;
    margin-left: 1.5em;
}
    
#under_slider .ui-slider-range {
    background-image: -moz-linear-gradient(center top , #6DB66D, #FEFEFE);
    border-top: 0.5px solid #999999;
    height: 7px;
}

#over_slider .ui-slider-range {
    background-image: -moz-linear-gradient(center top , #940505, #FEFEFE);
    border-top: 0.5px solid #999999;
    height: 7px;

}

#consumer_allowance_period_chzn:nth-child(10) {
    display: none;
}

#allowance_form {
    margin-top: 15px;
}

.purchase_height {
    height: 939px;
}

.allowance.date_picker {
    position: relative;
}

.allowance.date_picker span{
    position: absolute;
    right: 8px;
    top: 9px;
}

.bottom {
    position: absolute;
    bottom: 2px;
}

.relative {
    position: relative;
}

.content-header {
    min-height: 120px;
}

.mr {
    margin-right: 2em;
}

.fr {
    float: right;
}

.progress span b {
    font-size: 0.9em;
}
.progress {
    -o-border-radius: 7px;
    -ms-border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    height: 7px;
    background: url("/spina/img/slider_bg.png") repeat-x scroll 0 0 transparent;      filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#555555', endColorstr='#e9e9e9');
    margin-top: 10px;
}

.progress span {
    -o-border-radius: 10px 2px 2px 10px;
    -ms-border-radius: 10px 2px 2px 10px;
    -moz-border-radius: 10px 2px 2px 10px;
    -webkit-border-radius: 10px 2px 2px 10px;
    border-radius: 10px 3px 3px 10px;
    height: 5px;

        background-color: #EEE;
        background-image: -o-linear-gradient(top, #FEFEFE, #6DB66D);
        background-image: -ms-linear-gradient(top, #FEFEFE, #6DB66D);
        background-image: -moz-linear-gradient(top, #FEFEFE, #6DB66D);
        background-image: -webkit-gradient(linear, left top, left bottom, from(#FEFEFE), to(#6DB66D));
        background-image: -webkit-linear-gradient(top, #FEFEFE, #6DB66D);
        background-image: linear-gradient(top, #FEFEFE, #6DB66D);
        display: block;
        border-top: 0.5px solid #999;
        border-bottom: 0.5px solid #999;}

#allowance_display, #over_display, #under_display {
    background: transparent;
    border: none;
    display: inline;
    width: 20%;
}

.product {
    font-size: 22px;
    height: 36px;
    text-shadow: 0 1px 0 #FFFFFF;
    margin-top: 7%;
    color: #888;

}
.price {
    font-size: 28px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: bold;
    font-family:"Lucida Grande";
/*    color: #4E83B3; */
 /*   color: #5186B4; */
/*    color: #778899; */

}

.retailer {
    font-size: 18px;
    text-shadow: 0 1px 0 #FFFFFF;
    margin-bottom: 10%;
    margin-left: 1%;
}
.formtitle {
    font-variant: small-caps;
    margin-bottom: 0px;
    margin-left: 9px;

}

#next-allowance-date {
    height: 34px;
}

#consumer_allowance_period_chzn {
    display: inline;
}

.allowace.date_picker {
    
}

.allowace.next_allowance_date {
    
}

.allowace.next_lable {
    
}

.allowance.day {
    width: 20%;
}

#consumer_allowance_period{
    
}

.allowace.label {
    
}

.allowance {
}

.allowance.period {
    width:20%;
}

.allowance.inline {
    margin-top: 5px;
}

.frequency {
    display: inline;
}

.frequency input {
    width: 30%;
}

.currValue {
    display: inline;
}

#allowance_form .currValue input[type="text"]  {
    width: 15%;
    border: none;
}

#allowance_form .slider {
    display: block;
}

.label {
    display: inline;
  color: #898989;
  float: left;
  font-family: "Tahoma", "Lucida Grande", sans-serif;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0 1px 0 #fff;
  text-transform: uppercase;
}

.translation_missing {
    color: purple;
}

td.status {
    width: 15px;
}

.pic {
    width: 100px;
}

.logo {
    float: right;
    margin-top: 4%;
    margin-right: 6%;
    
}

.greyedOut {
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

  /* IE 5-7 */
  filter: alpha(opacity=50);

  /* Netscape */
  -moz-opacity: 0.5;

  /* Safari 1.x */
  -khtml-opacity: 0.5;

  /* Good browsers */
  opacity: 0.5;

}

.greyedOut:hover {
     -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";

  /* IE 5-7 */
  filter: alpha(opacity=100);

  /* Netscape */
  -moz-opacity: 1;

  /* Safari 1.x */
  -khtml-opacity: 1;

  /* Good browsers */
  opacity: 1;

}

.button.blue .icon16 {
  background-position: 100%;
}


.message-count {
    background: red;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -o-box-shadow: 0 0 3px rgba(0,0,0,0.1);
    -ms-box-shadow: 0 0 3px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 3px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.1);
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    line-height:18px;
    height: 18px;
    padding: 0 4px;
    text-shadow: none;
    /* positioning */
    z-index: 999;
    box-shadow: 0 2px 6px rgba(0,0,0,0.4), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.1);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.4), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.1);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.4), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.1);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.4), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.1);
    text-shadow: 0px 1px 1px #fff;
    text-shadow: 0px -1px #666, 0px 0px #FFF;

    }

.action_bar.filters {
    margin-top: 4%;
    margin-bottom: -1%;
    margin-left: 0%;
    background: none;
}

.filters .button{
    margin-left: 8px;
}

.photo {
    width: 48px;
    height: 60px;
    float: right;
    margin: -10px;
}
.clearfix:after {
    clear: both;
    content: ' ';
    display: block;
    font-size: 0;
    line-height: 0;
    visibility: hidden;
    width: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

* html .clearfix {
    height: 1%;
}

.clearfix {
    display: block;
}