#paykido_button {

	position: absolute;
	top:939px;
	left:481px;

}


#paykido_button:hover {
	cursor: pointer;
}

form {
	z-index: 1001;
}

#a {
	position: absolute;
	top: 380px;
	left: 519px;
}

#b {
	position: absolute;
	top: 409px;
	left: 519px;
}

#c {
	position: absolute;
	top: 438px;
	left: 519px;
}

#d {
	position: absolute;
	top: 467px;
	left: 519px;
}

#e {
	position: absolute;
	top: 496px;
	left: 519px;
}




#loading {
	position: absolute;
	top:1045px;
	left:853px;
	width: 50px;
	
}
#fancybox-inner {
	height:1000px;
}

#product_selection {
	position:absolute;
	top: 96px;
	left:52px;
}

.status_line {
	font-family: Arial;
	font-size: 17px;
	text-align: center;
	color: orange;
	margin-top: 17px;
}

.message_line {
	font-family: Arial;
	font-size: 17px;
	text-align: center;
	margin-top: -18px;
		color: orange;	
}

#pin, #consumer_billing_phone {
	margin-top: 1px;	
}

#welcome {
	margin-left: 30px;
}

h2 {
	font-family:"Arial Rounded MT Bold";
}

body {
	color:white;
}

a#link_to_how {
	position:absolute;
	top:360px;
	left:33px;
	width: 323px;
	height: 60px;
	color:transparent;
}

img#no_sms_service {
	position:absolute;
	top:390px;
	left:45px;
	width:280px;
	height:60px;
}

/*
#payment_window {
	background-color:#6b727a;
	background-image:url(/images/payment_window_background5.png);
	background-color:black;
	padding-top:30px;

	height:365px;
	height:343px;
	height:338px;
	height:320px;

	width:385px;
	width:384px;

}

*/#input {
	position:absolute;
	top:200px;
}


#step {
	float:left;
	margin-left:30px;

}

#input_field {
	float:left;
	margin-left:15px;
}

#product_selected {
	float:left;
	margin-left:40px;
	font-size:10pt;
}


#step_input {


}

#submit_button {
	width:30px;
	margin-left:15px;
}

#step_title {
	float:left;
	height:20px;
	padding-top:10px;
	padding-left:15px;
	font:"Arial Rounded MT Bold";
	font-size:11pt;
	font-weight:600;
}


#message {

	height:90px;
}

#marketing {
	height:50px
	width:200px;
	margin-top:40px;
	margin-bottom:20px;
}


/*
End of reduandant part with aaa.css
*/

#farmville1 {
	position:absolute;
	top:0;
	left:0;
	width: 1423px;
	height: 728px;
	
	
}
#farmville2 {
	position:absolute;
	top:727px;
	left:0;
	width: 1423px;
	height: 683px;
}

#button {
	position:absolute;
	top: 940px;
	left:495px;
	z-index:1000;
}
#caption {
	position:absolute;
	top: 984px;
	left:449px;
	z-index:1000;
}

#servicewindow{
	position:absolute;
	top:929px;
	left:495px;
	font-size:48px;
	color:transparent;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";

        /* IE 6,7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
	z-index:2000;
}
