.no_decoration {
	text-decoration: none;
}

.tooltip
{
  position: relative;
  background: #eaeaea;
  cursor: help;
  display: inline-block;
  text-decoration: none;
  color: #222;
  outline: none;
  background-color: transparent;
}

.tooltip span
{
  visibility: hidden;
  position: absolute;
  bottom: 30px;
  left: 35%;
  z-index: 999;
  width: 60px;
  margin-bottom: 30px;
  padding: 5px;
  border: 2px solid #ccc;
  opacity: .6;
  background-color: #778899;
  background-image: -webkit-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -moz-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -ms-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: -o-linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  -moz-border-radius: 7px;
  border-radius: 7px;
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;
  text-shadow: 0 1px 0 rgba(255,255,255,.4);
}

.tooltip:hover
{
  border: 0; /* IE6 fix */
}

.tooltip:hover span
{
  visibility: visible;
}

.tooltip span:before,
.tooltip span:after
{
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;
}

.tooltip span:before
{
  border-top-color: #ccc;
  bottom: -8px;
}

.navy-tooltip span
{
color: #fff;
text-shadow: 0 1px 0 #000;

}
.navy-tooltip span:after
{

}
.navy-tooltip span:before
{

} 


.time_cell {
	width: 54px;
}

.action_cell {
	width:150px;
	background-color: transparent;
}

.authorization_cell {
	width: 60px;
}	

.action_cell .icon img {
	margin-left: 15px;
	opacity: 0.05;
}
.action_cell .icon img:hover {
	opacity:1;
}

.translation_missing { 
	color: red 
}

#next_allowance {
	width: 125px;
}

#acd {
 	width: 63px;
}	

#acd {
 	text-align:right;
 	float:right;
}

#consumer_allowance_period {
	width: 84px;
	background: transparent;
	background-color: #F1F7FB;
	color: #362B36;	
	border: 1px solid #AED0EA;
}	
#allowance_period {
	width: 50px;	
}	
.ui-very-rounded-corners {
	border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

#tell_me_more, #register {
	-webkit-text-shadow: 0px -1px #666, 0px 0px #FFF;
	-mox-text-shadow: 0px -1px #666, 0px 0px #FFF;
	text-shadow: 0px -1px #666, 0px 0px #FFF;
	color: #00BCCF;
	z-index: 1000;
	position: absolute;
    top: 108px;
    left: 1020px;
	font-size: 20px;
    height: 50px;
    width: 147px;
    z-index: 1000;
	box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -o-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);
   -moz-box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 1px rgba(255,255,255,0.3), inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.3);}
	border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;


}

#else.invitation_msg {

	top: 200px;
	    font-size: 20px;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;


}
#second{
	top: 120px;
	font-size: 22px;
	color: #00BCCF;
	font-family: Lucida Grande,Lucida Sans,Arial,sans-serif;

}
#third{
	top:153px;
	
}

.invitation_msg {
	z-index: 1000;
	position: absolute;
	left: 704px;
	font-family:"Arial Rounded MT Bold";
	color: #444444;
	font-family: "Trebuchet MS";
}


.ui-widget-header input{
	text-shadow: 0px -1px #666, 0px 0px #FFF;
	-webkit-text-shadow: 0px -1px #666, 0px 0px #FFF;
	-mox-text-shadow: 0px -1px #666, 0px 0px #FFF;
	text-shadow: 0px -1px #666, 0px 0px #FFF;
	
}

.portlet .portlet-header.ui-state-active {
	text-shadow: 0px -1px #666, 0px 0px #FFF;
	-webkit-text-shadow: 0px -1px #666, 0px 0px #FFF;
	-mox-text-shadow: 0px -1px #666, 0px 0px #FFF;
	text-shadow: 0px -1px #666, 0px 0px #FFF;
}

/*.content-name-left, .content-name-right {
			text-shadow: 0px -1px #666, 0px 0px #FFF;
	-webkit-text-shadow: 0px -1px #666, 0px 0px #FFF;
	-mox-text-shadow: 0px -1px #666, 0px 0px #FFF;
	text-shadow: 0px -1px #666, 0px 0px #FFF;

}*/


#payer_name {
	font-family: Tahoma;
}

#payer_tabs {
	box-shadow:0 0 3px #888;
	font-family: tahoma; 
	font-weight: 100;
}

#payer_tabs .ui-tabs-nav .ui-state-active{
		text-shadow: 0px -1px #666 0px 0px #fff;
	-webkit-text-shadow: 0px -1px #666 0px 0px #fff;
	-mox-text-shadow: 0px -1px #666 0px 0px #fff;
	text-shadow: 0px -1px #666, 0px 0px #FFF;

}

#charging {
	font-size: 14px;
}

.consumer.portlet-header input {
	border: none;
}

#release {
    position: absolute;
    top: 45px;
    left: 1123px;
	font-size: 16px;

	
}

#table_filter input {
	margin-top: -2px;
	
}

#gauge, #chartdiv {
	-moz-border-radius:4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;	
}

td {
	border-bottom: 1px dotted gray;

}

#under, #over, #balance, #budget, #budget1 {
	background-color: transparent;
	width: 75px;
	float: right;
}




/*
.ui-tabs-selected a {
	background-color: #F6FAFC;
	border-bottom: none;
}
*/

img#gradient_wrap {
	
}

#b {
	position: absolute;
	left: 23px;
	TOP: 240PX;
}

#alerts_pane, #reports_pane {
	margin-left: 5px;
}

#alerts  {
	position: absolute;
	top: 57px;
	left:5px;	
}


.pic-in-tab.logo-in-tab {
	position: absolute;
	left: 202px;
	top: 5px;
	height: 25px;
	width: 100px;
}

.content-name-right {
	z-index: 1000000;
}

#purchases_tab {
	width: 310px;
}

.pic-in-tab {
	height: 64px;
	position: absolute;
	top: -27px;
	left: 244px;
	float: right;
	border: none;
	
}

.tab-text {
	margin-top:0px;
	position: absolute;
	top: -19px;
}

#payer_name {
	font-size: 20px;
	color: #17375E;
	color: #778899;
	text-align: left;
	border: none;
	background: none;
	width: 400px;
}


.chart_text {
	position: absolute;
	top: 88px;
	left: 30px;
	width: 450px;
}

.chart_text_title {
	font-family: "Arial Rounded MT Bold";
	font-size: 22px;
	color: #048;
	
}

.chart_text_lines {
	
	font-family: Arial;
	
}

.chart_container {
	background: white;
	border: 1px inset #EEEEEE;
	position: absolute;
	top: 105px;
	left: 522px;
}

#consumer_uploaded_pic {
	margin-right: -35px;
	width: 323px;
}

#consumer_info_name, #consumer_info_phone, #consumer_info_pin, #consumer_info_pic {
	float: right;
	margin-right: 0px;
	border-width: 0px;
	text-align: right;
}

.portlet.ui-widget.ui-widget-content.ui-helper-clearfix {
		border: 1px inset #FFFFF5;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	width: 235px;

}

#allowance_form {
	padding-top: 5px;
}

#chartdiv {
	margin-top:11px;
/*
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;

*/	border: 1px inset #EEE;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #DDDDDD;

-moz-box-shadow:   rgba(0,0,0,0.4)  10px 10px 0  10px inset;
-webkit-box-shadow:   rgba(0,0,0,0.4)  10px 10px 0  10px inset;


}

#notice {
	position: absolute;
/*	top: -97px; */
	height: 24px;
	width:1162px;
	left: 2px;
	z-index: 1;
}

.flash_text{
	position: absolute;
	top: 1px;
	left: 30px;
	font-size: 18px;
}

.flash_symbol{
	position: absolute;
	top: 5px;
	left: 5px;

}

thead {
	font-size: 14px;
}
#table_paginate {
	margin-right: -16px;
}

td {
	text-align: center;
	height:60px;
}

.authorized_cell {
	text-align: left;
	width:75px;
}

.amount_cell {
	text-align: right;
}

#period {
	font-size: 15px;
	position: absolute;
	left: -369px;
	margin-top: 11px;
	z-index: 100000;
}

#table_wrapper .fg-toolbar {
	height: 22px;
	width: 1096px;
	font-size: 17px;
	border: none;
/*
	background: #0078ae url(images/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x;

*/}

.portlet-header-r {
	float: right;
	margin-right: 2px;
	
}

.portlet-value {
	float: right;
	margin-right: 2px;
	font-family:"Arial Rounded MT Bold";
	font-size: 18px;
}
tr.odd td.authorized_cell.really {
	background-color: #FFFFFF;
}

.location_cell {
	
}

/*
	margin-right: -11px;
*/
}

.authorization_cell {
	width: 125px;
}

.authentication_cell {
	
}

.date_cell {
	padding-left: 2px;
	padding-right:2px;
	width: 120px;
	text-align: center;
	
}

.amount_cell {
	
}

.retailer_cell {
	
}

.category_cell {
	
}

.product_cell {
	width: 100px;
	
}

.consumer_cell {
	
}

.amount {
	text-align: right;
	padding-right: 7px;
}
#table {
	position:absolute;
	top: 95px;
	font-size: 12px;
	width: 720px;
	margin-left: -2px;
	width:1111px;

}

.purchasesCell {
	font-size:13px;
	height:30px;
	width:5px;
	color: #666666;
}

.purchasesOddRow {
	background-color:#D0E7F5;
	background-color:#EEFEB8;
	background-color:#FFFFDD;
	background-color:#EEEEEE;
	background-color:#f4f0ff;
	background-image:url("/images/purchases_gradient1.png");
	#f4f0ff;	
}


#purchases_message {
	position: absolute;
	top: 80px;
}

#other_form {
	
}

#no_tabs_background, #no_tabs_background1 {
	background: none;
	border:none;
/*
	position: absolute;
	top: -36px;
	left:627px;
	width: 500px
}
*/
}

#alerts, #alerts_tab, #billing_tab, #account_tab, #new_tab, #allowance_tab, #thresholds_tab, #info_tab {
	padding-bottom: 0;
	font-size: 16px;
}


#consumers_tabs, #preferences_tabs {
	height: 30px;
	border: 1px solid #0078AE;
	background-color: #FFFFF5;
	padding-left: 10px;
	padding-top:5px;
	border: 1px inset #FFFFF5;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	position: static;
	margin-left: -7px;
	width:1116px;

}

#new, #allowance, #thresholds, #info{
	position: absolute;
	top: 57px;
	left: 3px;
}

.right_content.consumers_list {
	position:absolute;
	top:25px;
	left:675px;
}

.consumer_pic {
	position: absolute;
	top:146px;
	left:390px;
	height: 221px;
	width: 200px;
		-moz-border-radius:4px;
	-webkit-border-radius: 4px;
	border: 1px inset #FFFFF5;
	border-right: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;

}

/*
.purchasesCell {
	font-size:13px;
	height:30px;
	width:5px;
	color: #666666;
}

.purchasesOddRow {
	background-color:#D0E7F5;
	background-color:#EEFEB8;
	background-color:#FFFFDD;
	background-color:#EEEEEE;
	background-color:#f4f0ff;
	background-image:url("/images/purchases_gradient1.png");
	#f4f0ff;	
}
*/

#phone_form, #pin_form {
	margin-top:-24px;
}

#extra_space4 {
	margin-top: 10px;
}

#consumer_tabs .ui-tabs-nav {
	height: 30px;
	margin-top:0px;
	margin-left: 18px;
	background: none;
	border: none;
}

#consumer_tabs .ui-tabs-nav li a {
	height:15px;
	padding-top: 4px;
	font-size: 15px;
}



#consumer_tabs.ui-widget-content {
	border: none;
}


#shopping_cart {
	height: 67px;
	position:absolute;
	top:-1px;
	left:319px;
}

.content-name-left {
	color: #F7B64A;
	color: #778899;
	margin-left: 3px;
	font-size:20px;
}

.content-name-right {
	color: #004488;
	margin-left: -13px;
	font-size:20px;
}

.portlet-content-logo-left {
	position:absolute;
	top: 71px;
	left:223px;
	width: 100px;
	height:25px;

}

.content-name {
	margin-left: 6px;
	font-family:"Arial Rounded MT Bold";
	margin-top:6px;
	margin-bottom:10px;
	font-size:18px;
}

.face-placeholder {
	display:inline;
	float:left;
	margin-left: 3px;
	height:54px;
	width: 43px;
}

.retailer-info {
	margin-top:5px;
	margin-left: 5px;
}

.consumer-info {
	margin-top:7px;
	margin-right: -1px;
}

.portlet-content-logo {
	width: 100px;
	height:25px;
	margin-left: 56px;
	margin-top: 5px;
}
.portlet-header input {
	background: none;
	width:130px;
	margin: 0;
	padding: 0;
}

.ui-state-active.portlet-header input {
	color: white;	
}

#alerts .right_content {
	left:582px;
}


#phone_alert_shade_area, #email_alert_shade_area {
	border: 1px solid #0078AE;
	-moz-border-radius:10px;
	-webkit-border-radius: 10px;
	background-color: #FFFFF5;
	background-color: #FFFEEE;
	padding-left: 10px;
	padding-top:5px;
	border: 1px inset #FFFFF5;
	border-right: 1px solid #EEEEEE;
	border-bottom: 1px solid #DDDDDD;
	width:488px;
	height: 312px;
}

#content_left_shade_area {
	overflow: auto;
}

/*
#email_alert_shade_area {
	margin-left:-50px;
}
*/


.item_by_icon select {
	background-color: #FFFFF5;
	background-color: #FFFEEE;

}
.item_by_icon input {
	background-color: #FFFFF5;
	background-color: #FFFEEE;
}

select:hover, input:hover, #payer_name:hover {
	color:#F28D3A;
	
}

/*
select, input {
	color:#026890;
}

*/
.item_by_icon {
	position:absolute;
	left:60px;
}

.item_by_icon  select{
	padding-top:13px;
}
.item_by_icon input {
	padding-top:7px;
}

.communication {
	height:47px;
}

.like {
	height:30px;
	width: 75px;
	padding-bottom: 1px;	
}

.content-value {
	display: inline;
	float: right;
	margin-right:258px;
}

.dislike {
	margin-left:184px;
}

.logo {
	height: 27px;
	margin-left: 10%;
}

.middle {
	margin-left: 5%;
}

.right_float {
	float:right;
	margin-right: 213px;
}
.shaded {
	opacity:0.4;
}
#alerts_phone_notice {
	position:absolute;
	top:193px;
	left:362px;
}

#phone_alert, #email_alert  {
	position:absolute;
	top:71px;
	left:365px;
}


#sms_icon {
	position:absolute;
	top:102px;
	left:398px;
	height: 54px;
}

#email_icon {
	position:absolute;
	top:260px;
	left:398px;
	height: 54px;
}

.form_line {
	height:60px;
}

.small_icon {
	height:30px;
	width:30px;
}

.item {
	margin-left:2px;
}

.value {
	border:none;
	margin-right:201px;
	display:inline;
	width:423px;
}

.borderless {
	border:none;

}

#personal {
	margin-top:14px;
}

.contact {
	display:inline;
	margin-top:10px;
	margin-right:5px;
}

#extra_space1 {
	margin-bottom:21px;
}

#extra_space2, #extra_space3 {
	margin-bottom: 10px;
}

.rule {
	width:300px;
}

#manual {
	margin-bottom:5px;
	margin-top:10px;
	margin-bottom:2px;
}

.inner_content_text {
	font-family:Arial;
	font-size:16px;
	margin-bottom:2px;
	padding-top:10px;
}

#slider-range {
	margin-bottom:10px;
	margin-top:10px;
}
.explanation {
	width:380px;
	border:1px inset #666666;	
}

.inner_content_title {
	padding-bottom:8px;
}


.portlet-content-right {
	display:inline;
	float:right;
}

#face {
	position:absolute;
	top:58px;
	left:383px;
}

#rollover {
	margin-left:28px;
}

#circle {
	height: 88px;
	position:absolute;
	top:-18px;
	left:200px;
	background-color:#E6EDF4;
}

#budget, #budget1, #balance, #under, #over {
	border-width:0;
	text-align:right;
}



#budget_slider, #balance_slider {
	width:300px;
	background: #FFFEEE;
	border: 1px inset #EEEEEE;
	margin-top:10px;

}

#balance_rollover {
	margin-top:0px;
}

#consumer_billing_phone, #consumer_phone, #consumer_pin, #consumer_name, #consumer_uploaded_pic, #consumer_received_pin {
	background: #FFFEEE;
	border: 1px inset #EEEEEE;
	
} 
#slider-range {
	width:300px;
	background: #FFFEEE;
	border: 1px inset #EEEEEE;
	margin-top:40px;
	margin-bottom:10px;
}

.left_content form {
	width:299px;
}

#slider {
	margin-top: 5px;
}

.engrave {
	border:1px inset #EEEEEE;
	border-left-color:#CCCCCC;
/*
		-moz-border-radius:5px;

*/
}

.column1 {
	margin-left:-15px;
}

.right_content .inner_content_title{
	margin-left:-10px;
}

.column, .column1, .column2 {
/*
	overflow:auto;
*/
	width: 250px; 
	height:267px;
	font-size:14px;
	float: left;
}


.portlet { margin: 0 1em 1em 0; }
.portlet-header { margin: 0.3em; padding-bottom: 4px; padding-left: 0.2em; }
.portlet-header .ui-icon { float: right; }
.portlet-content { padding: 0.4em; }
.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
.ui-sortable-placeholder * { visibility: hidden; }


#feedback { font-size: 1.4em; }
#selectable .ui-selecting { background: #FECA40; }
#selectable .ui-selected { background: #F39814; color: white; }
#selectable { 
	height:230px;
	list-style-type: none; margin: 0; padding: 0; width: 60%; overflow-y:auto;}
#selectable li { margin: 3px; padding: 0.4em; font-size: 1em; height: 18px; }


#phone_notice {
	position:absolute;
	top:209px;
	left:-10px;

}

#pin_notice {
	position:absolute;
	top:294px;
	left:-10px;

}
.red {
	color:#E14F1C;
}

.field_notice {

}

h4 {
	font-family:"Arial Rounded MT Bold";
}



#consumer_phone, #consumer_received_pin {
	display:inline;
	width: 160px;
}


strong {
	font-size:1.2em;
}

.ui-state-error {
    margin-top: 2px;
    font-size: 12px;
    font-weight: bold;
/*
		height:40px;
		padding-bottom:5px;

*/}

.ui-state-highlight {
    margin-top: 2px;
    font-size: 14px;
    font-weight: bold;
}

/*.message {
    position: absolute;
	top: 292px;
	left:8px;
    width: 1155px;
	height:25px;
   	z-index: 103;

}*/

/*
.just_message {
    position: absolute;
    top: 198px;
    width: 1158px;
	height:25px;
    margin-left: 7px;
    margin-right: 10px;
	z-index:-100;


}

*/

.righthandside_marketial {
    margin-left: -78px;
	margin-top:11px;
	margin-right:2px;
	

}

#welcome_to_arca {
    margin-left: -83px;
	margin-top:77px;
	margin-right:35px;
	
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.small_note {
    font-size: 11px;
    margin-left: 10px;
}

.inline {
    display: inline;
}

#remember_me {
    display: inline;
	font-size: 16px;
	font-family:Tahoma;
}

.formfield {
    margin-top: 10px;
	display:block;
}
#user_password, #user_remember_me {
	display:inline;
}

.loginbutton {
    margin-top: 30px;
    height: 30px;
}

a.login:hover {
    text-decoration: underline;
}

.login {
	position: absolute;
	top: 30px;
    display: inline;
    z-index: 100;
    text-decoration: none;
    color: #026890;
    color: #004488;
	color: #17375E;
	color:#666666;
	color: #778899;
    font-size: 18px;
	font-family: Tahoma;
}

#signedin {

    left: 448px;
}

#whatis {
    left: 704px;
}

#joinin {

    left: 937px;
}

#signin, #signout {
    left: 1093px;
}

.left_content {
/*
    margin-top: 50px;
    margin-left: 10px;
*/
	position:absolute;
	left:20px;
	top:70px;
	
    display: inline;
    float: left;
    width: 590px;
    height: 370px;
}


.right_content {
    display: inline;
    float: right;
    /*
     background-image:url("/images/thanks_for_joining2.png") ;
     */
/*
    margin-top: 50px;
    margin-right: 10px;
 
*/   
	position:absolute;
	top:70px;
	left:650px;
	background-repeat: no-repeat;
    width: 485px;
    height: 370px;
}

.inner_content {
    margin-left: 20px;
    margin-top: 30px;

}


.inner_content_title, .inner_content_subtitle {
    color: #004488;
    font-size: 18px;
	margin-left: 3px;
}

.inner_content_subtitle {
	font-size:18px;
	margin-bottom:5px;
	margin-left:2px;
}

.plain_message {
	margin-top:-10px;
	color:#F6A828;
	color:#C77405;
	color:#F28D3A;

}


.inner_content_indented {
    margin-left: 25px;
    margin-top: 50px;
    margin-right: 20px;
}

.portlet-content {
	font-family:Verdana,Arial,sans-serif;
	font-size:14px;
	padding-left:2px;
}


.portlet-content {
	font-family:Tahoma;
	font-size:14px;	
}

/*
.left_content .inner_content_indented {
	border-right:1px solid #999999;	
}
*/

.chart {
    width: 600px;
    height: 300px;
    display: inline;
    margin-top: 10px;
}

#payer_tabs, #retailer_tabs{
	background-color: #F1F7FB;
/*	background-color: #F8FAFB; */
    width: 1164px;
    height: 862px;
    margin-left: 5px;
    font-size: 16px;
/*	background-image: url("/images/bg.png");
	background-repeat: repeat; */
/*
	the end color of gradient1 is: #B0C4DE (steel)
	the end color of gradient1 (lighter version) is: #E6EDF4
*/
}


#tabs-1 {
    width: 600px;
    display: inline;
}

#tabs-1-explain {
    width: 460px;
    display: inline;
    height: 300px;
    float: right;
    text-align: center;
    font-size: 22px;
    font-weight: bold;
    font-family: Tahoma;
}

.methods_box {
}

.method {
    display: inline;
    float: left;
    width: 190px;
    height: 70px;
}

#servicewindow {
}

/*
body {
	height: 2000px;
background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.22, rgb(222,222,205)),
    color-stop(1, rgb(252,252,252))
);
background-image: -moz-linear-gradient(
    center top,
    rgb(222,222,205) 48%,
    rgb(252,252,252) 100%
);}
*/

body {
	background-image: url("/images/bg.png");
	background-repeat: repeat;
}

.container {
    position: absolute;
    left: 125px;
    width: 1165px;
}

#head_img {

    margin-left: 5px;
	width: 1159px;
	background-image: url("/images/head_img4.png");
	width: 1172px;
	height: 212px;
		-moz-border-radius: 5px;
border-radius: 5px;

}

#remainder_img, #head_img, #service_full_img, #payer_tabs, #retailer_tabs, #full {
/*	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px #888;
	box-shadow: 0 0 3px #888; */
	border: none; 	
}



img#head_img {
			-moz-border-radius: 5px;
border-radius: 5px;
}

/*
img#service_full_img {
		-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: 3.5px;
}
*/

#full {


	-moz-border-radius: 5px;
	border-radius: 5px;
	margin-left: 6px;
	width: 1172px;
	height: 770px;
	background-repeat: repeat-x;

}


#learn1 a {
    z-index: 100;
    font-size: 18pt;
    opacity: 0.0;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";

        /* IE 6,7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    top: 432px;
    left: 34px;
}

#learn2 a {
    z-index: 100;
    font-size: 18pt;
    opacity: 0.0;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";

        /* IE 6,7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    top: 617px;
    left: 35px;
}

#learn3 a {
    z-index: 100;
    font-size: 18pt;
    opacity: 0.0;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";

        /* IE 6,7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
    position: absolute;
    top: 616px;
    left: 631px;
}

#get_started_today a {
    z-index: 100;
    font-size: 45pt;
    opacity: 0.0;
        /* IE 8 */
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=0)";

        /* IE 6,7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);


    position: absolute;
    top: 7px;
    right: 120px;

}

#teens {
    float: left;
    width: 555px;
    border-style: solid;
    border-width: 7px;
    border-color: #558ed5;
    z-index: -2;
}

#parents {
    float: right;
    width: 555px;
    border-style: solid;
    border-color: #e46c0a;
    border-width: 7px;
    z-index: -2;
}

.promise {
    background-color: white;
}

.box_title {
    font-size: 20pt;
    font-weight: bold;
}

#start_today {
    position: absolute;
    right: 0px;
}

#register {
    position: absolute;
    right: 0px;
}

#menu ul {
    position: relative;
    left: 300px;
    top: 20px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#menu li {
    float: left;
}

/*
 #menu a:link,a:visited
 {
 display:block;
 width:120px;
 font-weight:bold;
 color:#FFFFFF;
 background-color:#17375e;
 text-align:center;
 padding:4px;
 text-decoration:none;
 text-transform:uppercase;
 }
 #menu a:hover,a:active
 {
 background-color:#7A991A;
 }
 
 */
.fg-toolbar {
    padding: .5em;
    margin: 0;
    width: 50%;
}

.fg-toolbar .fg-buttonset {
    margin-right: 1.5em;
    padding-left: 1px;
}

.fg-toolbar .fg-button {
    font-size: 1em;
}

.fg-button {
    outline: 0;
    padding: .1em 1em;
    text-decoration: none !important;
    cursor: pointer;
    text-align: center;
    zoom: 1;
}

.fg-button .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
    left: 50%;
    margin-left: -8px;
}

a.fg-button {
    float: left;
}

/* remove extra button width in IE */
button.fg-button {
    width: auto;
    overflow: visible;
}

.fg-button-icon-left {
    padding-left: 2.1em;
}

.fg-button-icon-right {
    padding-right: 2.1em;
}

.fg-button-icon-left .ui-icon {
    right: auto;
    left: .2em;
    margin-left: 0;
}

.fg-button-icon-right .ui-icon {
    left: auto;
    right: .2em;
    margin-left: 0;
}

.fg-button-icon-solo {
    display: block;
    width: 8px;
    text-indent: -9999px;
}
 /* solo icon buttons must have block properties for the text-indent to work */
.fg-buttonset {
    float: left;
}

.fg-buttonset .fg-button {
    float: left;
}

.fg-buttonset-single .fg-button, .fg-buttonset-multi .fg-button {
    margin-right: -1px;
}

.fg-toolbar {
    padding: .5em;
    margin: 0;
}

.fg-toolbar .fg-buttonset {
    margin-right: 1.5em;
    padding-left: 1px;
}

.fg-toolbar .fg-button {
    font-size: 1em;
}

/*demo page css*/
h2 {
    clear: both;
    padding-top: 1.5em;
    margin-top: 0;
}

.strike {
    text-decoration: line-through;
}


.fieldWithErrors {
    border: 1px solid #b81900;
	height:10px;
    display: table;
}


#errorExplanation {
    width: 400px;
    border: 2px solid #b81900;
    padding: 7px;
    padding-bottom: 12px;
    margin-bottom: 20px;
    background-color: #E14F1C;
}

#errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff;
}

#errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px;
}

#errorExplanation ul li {
    font-size: 12px;
    list-style: square;
}



