#login {
	position: absolute;
/*
	left: 1088px;
	top: 281px;
*/

	top:37%;
	left: 9%;

}

#arca_logo {
	margin-bottom: 100px;
/*
	opacity:0.4;
	filter:alpha(opacity=40)
*/
}

img#source-image {
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;

	width: 100%;


}

#f_user, #f_pass, #f_login {
	width: 202px;
	font-size: 18px;
	font-family: "Arial Rounded MT Bold";
	
}

#f_user, #f_pass {
	height: 30px;
	-moz-border-radius:5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color:#FFFEEE;
	
}

#f_login {
	width: 207px;
	margin-top: 10px;
}
/*
#logo {
	font-family:"Arial Rounded MT Bold";
	font-weight: bold;
	font-size: 76px;
	font-stretch:extra-expanded;
	margin-left: 16px;
}


#logo {
	font-family:"Arial Rounded MT Bold";
	font-weight: bold;
	font-size: 76px;
	font-stretch:extra-expanded;
	position: absolute;
	z-index: 1000000;
	left: 1109px;
	top: -25px;
}

#f_user {
	position: absolute;
	top:300px;
	left:1100px;
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width:200px;
	height:23px;
	background-color:#FFFEEE;

}

#f_pass {
	position: absolute;
	top: 350px;
	left:1100px;
	width:200px;
	height:23px;
	-moz-border-radius:3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	background-color: #FFFEEE;
}

#f_login {
	position: absolute;
	top: 400px;
	left:1100px;
	width: 202px;
	font-size: 18px;
	font-family: "Arial Rounded MT Bold";

*/}