<div class="container" id="section1"><!-- BEGIN SECTION 1 -->
  
  <div align="center"> <img src="/landing/img/parents_approve.jpg" /> </div>
</div>
<!-- END SECTION 1 -->

<div class="clear"></div>
<div class="container" id="section2" ><!-- BEGIN SECTION 2 -->
  
  <div class="grid_8"> <img src="/landing/img/game_on.png" /> </div>
  <div class="grid_4"> <img src="/landing/img/for_kids.jpg" /> </div>
  <div class="grid_4">
    <h2>Buy with <strong>no prepaid cards</strong> or accounts</h2>
    <p>Ever had your prepaid card expire just when you needed that extra help in the game? Paykido requires no plastic cards to be bought or debit cards to be filled up, so you can keep on playing and buying.</p>
    <h2>Get it <strong>when you want it</strong></h2>
    <p>No more waiting for parents to come home to go to the store or use their credit card. With Paykido you buy what you need, when you need it.</p>
    <h2>Do it all with <strong>one click</strong></h2>
    <p>Don't spend time on surveys to fill, offers to accept or text messages to arrive. Simply click to buy!</p>
  </div>
  <div class="grid_5">
    <div id="slider1">
      <div class="quote_box">
        <h3 class="quote_text">It's awesome that I can finally buy stuff online without nagging my parents</h3>
        <span class="quote_author">- Some Kid </span></div>
      <div class="quote_box">
        <h3 class="quote_text">Paykido lets me buy game items right away!</h3>
        <span class="quote_author">- Another Kid </span></div>
      <div class="quote_box">
        <h3 class="quote_text">Cool!</h3>
        <span class="quote_author">- George Soros </span></div>
    </div>
  </div>
</div>

<!-- END SECTION 2 -->

<div class="clear"></div>
<div class="container" id="section3"><!-- BEGIN SECTION 3 -->
  
  <div class="grid_8"> <img src="/landing/img/peace_of_mind.png" /> </div>
  <div class="grid_4"> <img src="/landing/img/for_parents.jpg" /> </div>
  <div class="grid_4">
    <h2>Define <strong>what</strong> your kids can buy</h2>
    <p>Tell us what you allow your kids to buy, not only how much. We'll watch your rules for you.</p>
    <h2>Get alerts <strong>before</strong> they buy</h2>
    <p>No more bill shocks, scams, bad products. We'll alert you before they make a purchase.</p>
    <h2>We'll help you find what's <strong>safe</strong></h2>
    <p>Paykido can automatically authorize purchases - or tell you what other people have decided, and let you decide for yourself.</p>
  </div>
  <div class="grid_5">
    <div id="slider2">
      <div class="quote_box">
        <h3 class="quote_text">Before, we had to setup game accounts for our kids and limit their spending. With Paykido it's entirely automated and safe.</h3>
        <span class="quote_author">- Shoikhet family </span></div>
      <div class="quote_box">
        <h3 class="quote_text">We've been waiting for this service and didn't know it!</h3>
        <span class="quote_author">- Mary & Ahmed-Lee Johnson </span></div>
      <div class="quote_box">
        <h3 class="quote_text">Kill! Kill! Kill!</h3>
        <span class="quote_author">- The Mansons </span></div>
    </div>
  </div>
</div>
<!-- END SECTION 3 -->

<div class="clear"></div>
<div class="container" id="section4"><!-- BEGIN SECTION 4 -->
  
  <div class="grid_8"> <img src="/landing/img/convert_upsell.png" /> </div>
  <div class="grid_4" > <img src="/landing/img/for_publishers.jpg" /> </div>
  <div class="grid_4">
    <h2>Boost <strong>conversion</strong> rates</h2>
    <p>Protecting kids and eliminating parental concerns, Paykido helps your young consumers buy and your conversion rates grow.</p>
    <h2>Gain parental <strong>trust</strong></h2>
    <p>As parents learn you've been approved by others, they're likely to approve you too.</p>
    <h2>Promote <strong>recurring</strong> orders</h2>
    <p>Once parent approves your goods, it is likely he would let Paykido approve further purchases automatically.</p>
  </div>
  <div class="grid_5">
    <div id="slider3">
      <div class="quote_box">
        <h3 class="quote_text">Overwolf helps players stay in the game and connect while playing. With Paykido we can let players of all ages buy what they want when they need it. This means better experience for players and higher sales for publishers.</h3>
        <span class="quote_author">- <a href="http://www.overwolf.com/" target="_blank">overwolf.com</a> </span></div>
      <div class="quote_box">
        <h3 class="quote_text">Kids' safety and parental peace of mind are of the utmost importance to us as a company that targets tweens. I find the Paykido service a perfect payment solution in order to address the needs of both kids and parents alike.</h3>
        <span class="quote_author">- <a href="http://joytunes.com/" target="_blank">joytunes.com/</a> </span></div>
    </div>
  </div>
</div>
<!-- END SECTION 4 -->
<div class="clear"></div>


<!--

<div id="footer_wrapper">

	<div id="footer">
        
		<ul class="container">

		<li class="grid_2">
        
            <h3>Social networks</h3>
            <p>For all news and updates, join us on the social networks and stay tuned !</p>
            
            <ul class="social_icons">
                <li><img src="/landing/img/icons/facebook.png" width="24" height="24" alt="Facebook" /></li>
                <li><img src="/landing/img/icons/twitter.png" width="24" height="24" alt="Twitter" /></li>
                <li><img src="/landing/img/icons/flickr.png" width="24" height="24" alt="Flickr" /></li>
                <li><img src="/landing/img/icons/digg.png" width="24" height="24" alt="Digg" /></li>
                <li><img src="/landing/img/icons/blogger.png" width="24" height="24" alt="Blogger" /></li>
            </ul>
      
        </li>

		<li class="grid_2">
        
            <h3>Freelance work</h3>
            <p>I'm currently available for freelance work, I can design for you a brand new website or create an awesome logo.<br />Just <a href="#">drop me an email</a> to get in touch !</p>
      
        </li>

		<li class="grid_2">
        
            <p>&nbsp;</p>
            <p>This theme uses 100% valid<br /><a href="#">HTML</a> and <a href="#">CSS</a></p>
            <p>Copyright &copy; 2010 Pixelstudio</p>
      
        </li>

		</ul>

    </div>
    
</div><!-- END FOOTER --> 

<script type="text/javascript"> Cufon.now(); </script>
